name: Django CI & Docker Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # -------------------------
      # 1. Checkout code
      # -------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -------------------------
      # 2. Run Ruff Linter (no pip, no dependencies)
      # -------------------------
      - name: Ruff Lint
        uses: chartboost/ruff-action@v1

      # -------------------------
      # 3. Run Python built-in unit tests
      # -------------------------
      - name: Run Unit Tests
        run: |
          python -m unittest discover -s tests

      # -------------------------
      # 4. Build Docker image
      # -------------------------
      - name: Build Docker image
        run: |
          docker build -f Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/django-app:latest .

      # -------------------------
      # 5. Login to Docker Hub
      # -------------------------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # -------------------------
      # 6. Push Docker image
      # -------------------------
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/django-app:latest
